<!DOCTYPE html>
<html>
  <head>
    <title>Report Incident</title>
  </head>
  <body>
    <div>
      <h2>Welcome to User Page</h2>
      {% if authenticated %}
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      <li><a href="{{ url_for('report_incident') }}">Report an Incident</a></li>
      {% endif %}

      <div id="profile-data"></div>
    </div>
    <h1>Report Incident Form</h1>
    <form method="POST" action="/report-incident">
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required /><br /><br />

      <label for="time">Time:</label>
      <input type="time" id="time" name="time" required /><br /><br />

      <label for="location">Location:</label>
      <input type="text" id="location" name="location" required /><br /><br />

      <label for="parties_involved">Parties Involved:</label>
      <input
        type="text"
        id="parties_involved"
        name="parties_involved"
        required
      /><br /><br />

      <label for="description">Description:</label><br />
      <textarea
        id="description"
        name="description"
        rows="4"
        cols="50"
        required
      ></textarea
      ><br /><br />

      <input type="submit" value="Submit" />
    </form>

    <h2>Incident Reports</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Parties Involved</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for incident in incidents %}
        <tr>
          <td>{{ incident.date }}</td>
          <td>{{ incident.time }}</td>
          <td>{{ incident.location }}</td>
          <td>{{ incident.parties_involved }}</td>
          <td>{{ incident.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
